<section class='slider' data-controller="slideshow" data-slideshow-index-value="0">
    <div class='slider-buttons'>
        <button class='btn' data-action="slideshow#previous">
            <%= image_tag "left.svg", class:'left-svg' %>
        </button>
    </div>
    <div class=' shower'>
        <div data-slideshow-target="slide">
            <%= link_to 'items/cat/Mobile', class: 'deco' do %>
            <div class='slide-card'>
                <p class='slide-card-text'>
                    Mobile
                </p>
                <%= image_tag "cell.png", class:'mobile_image' %>
            </div>
            <% end %>
        </div>

        <div data-slideshow-target="slide">
            <%= link_to 'items/cat/TV' , class:'deco'  do %>
            <div class='slide-card'>
                <p class='slide-card-text'>
                    TV
                </p>
                <%= image_tag "tv.png", class:'mobile_image' %>
            </div>
            <% end %>
        </div>



        <div data-slideshow-target="slide">
            <%= link_to 'items/cat/Notebooks' , class:'deco'  do %>
            <div class='slide-card'>
                <p class="slide-card-text">Notebooks</p>
                <%= image_tag "notebook.png", class: 'mobile_image' %>
            </div>
            <% end %>
        </div>


        <div data-slideshow-target="slide">
            <%= link_to 'items/cat/Gaming' , class:'deco'  do %>
            <div class='slide-card'>
                <p class="slide-card-text">Gaming</p>
                <%= image_tag "gaming.png", class: 'mobile_image' %>
            </div>
            <% end %>
        </div>



    </div>

    <div class='slider-buttons'>
        <button class='btn' data-action="slideshow#next">
            <%= image_tag "right.svg", class:'left-svg' %>
        </button>
    </div>
</section>

<%= link_to 'New Item', new_item_path %>

<% @items.each do |item|%>
<div>
    <h2><%= item.name %></h2>
    <p><%= item.description %></p>
    <p><%= item.category %></p>
    <p><%= item.stock %></p>

</div>
<% end %>