<%= turbo_frame_tag dom_id(item) do %>
  <li class="item-card">
   <h3> <%= item.name %>
   </h3>
   <p>
    <%= item.description %>
    </p>
    <p>
      $
    <%=item.price %>
    </p>
    <p>
    <%= item.stock %>
    </p>
    <div>
    <%= image_tag item.image_url, width: 100 if item.image.attached? %>
    </div>
    <div class="card-btns">
    <%= button_to "Edit", edit_item_path(item), data: { turbo_frame: dom_id(item) }, method: :get , class:'btn' %>
    <%= button_to "Delete", item_path(item), method: :delete, data: { turbo_confirm: "Are you sure?" }, class:'btn' %>
    </div>
  </li>
<% end %>