<h1></h1>
    Add Item
</h1>

<%= form_for @item, html: { multipart: true } do |f| %>
    <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </div>
    <div class="field">
        <%= f.label :description %><br>
        <%= f.text_area :description %>
    </div>
    <div class="field">
        <%= f.label :price %><br>
        <%= f.number_field :price %>
    </div>
    <div class="field">
        <%= f.label :stock %><br>
        <%= f.number_field :stock %>
    </div>
    <div class="field">
        <%= f.label :category %><br>
        <%= f.text_field :category %>
    </div>
    <div class="field">
        <%= f.label :images %><br>
        <%= f.file_field :images, multiple: true %>  <!-- Ensure this is plural: images -->
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>