    <nav class="navbar">
        <%= link_to  'Sal fina','/'%> 
        
     
        <input type="text" placeholder="search">
        <button>search</button>

      <% if user_signed_in? %>
<% if  current_user.admin %>
        <p>
            <%= link_to "Admin", '/admin_panel' %>
        </p>
        <% end %>
        <p>
            <%= button_to "Logout", destroy_user_session_path, method: :delete %>
        </p>
        <p>
            signed in as <%= current_user.email %>
        </p>
        <% else %>
        <p>
            <%= link_to "Login", new_user_session_path %>
        </p>
        <p>
            <%= link_to "Sign up", new_user_registration_path %>
        </p>
        <% end %>
</nav>